[submodule "caffe"]
    path = caffe
    url = https://github.com/ArmstrongYang/caffe.git
    branch = master
[submodule "models"]
    path = models
    url = https://github.com/ArmstrongYang/ShareModels.git
    branch = master
[submodule "data"]
	path = data
	url = https://github.com/ArmstrongYang/ShareData.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/ArmstrongYang/tensorflow.git
[submodule "images"]
	path = images
	url = git@121.196.213.107:dong.yang/ShareImages.git
[submodule "papers"]
	path = papers
	url = git@121.196.213.107:dong.yang/SharePapers.git
[submodule "mxnet"]
	path = mxnet
	url = https://github.com/apache/incubator-mxnet.git
