[submodule "caffe"]
    path = caffe
    url = https://github.com/ArmstrongYang/caffe.git
    branch = master
[submodule "models"]
    path = models
    url = https://github.com/ArmstrongYang/ShareModels.git
    branch = master
[submodule "data"]
	path = data
	url = https://github.com/ArmstrongYang/ShareData.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/ArmstrongYang/tensorflow.git
